body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.Header{
  background-color: gray;
  margin: auto;
  width: 30%;
  border: 3px black;
  padding: 10px;
  height: 50px;

}
/* .season{
  font-size: 2em;
} */
season_button{
  font-size:2em;
  margin-top: .5em;
  align-self:right;
  background-color:grey;
}
li{
  list-style-type:none;
}